.cards {
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 17px;
}

@media screen and (max-width: 880px) {
    .cards {
        max-width: 582px;
    }
}

@media screen and (max-width: 580px) {
    .cards {
        max-width: 282px;
    }
}