.popup {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s linear;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
}