.profile__edit-button {
    width: 24px;
    height: 24px;
    border: solid 1px white;
    outline: none;
    margin-left: 18px;
    padding: 0;
    background-color: transparent;
    background-image: url(../../../images/edit-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 2;
    align-self: center;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 880px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}