.popup__container {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    border-radius: 10px;
    margin: 0 auto;
}
