.profile__subtitle {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 16px 0 0;
    grid-row: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

@media screen and (max-width: 880px) {
    .profile__subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    }
}