.popup__form-submit {
    width: 358px;
    min-height: 50px;
    background: #000000;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 0;
    color: white;
    cursor: pointer;
}

.popup__form-submit:hover {
    opacity: .8;
}

@media screen and (max-width: 880px) {
    .popup__form-submit {
        max-width: 238px;
        min-height: 46px;
    }
}