.popup__form-text-error {
    opacity: 0;
    position: absolute;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-top: -28px;
    transition: .3s;
}

.popup__form-text-error:last-of-type {
    margin-top: -44px;
}