.profile__avatar {
    background-image: url('../../../images/avatar.jpg');
    width: 120px;
    min-height: 120px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 880px) {
    .profile__avatar {
        margin: 0 auto;
    }
}