@import "../vendor/normalize.css";
@import "../vendor/fonts/fonts.css";
@import "../blocks/page/page.css";
@import '../blocks/button-opacity/button-opacity.css';
@import "../blocks/header/header.css";
@import "../blocks/header/__logo/header__logo.css";
@import "../blocks/profile/profile.css";
@import "../blocks/profile/__avatar/profile__avatar.css";
@import "../blocks/profile/__info/profile__info.css";
@import "../blocks/profile/__title/profile__title.css";
@import "../blocks/profile/__subtitle/profile__subtitle.css";
@import "../blocks/profile/__edit-button/profile__edit-button.css";
@import "../blocks/profile/__add-button/profile__add-button.css";
@import "../blocks/popup/popup.css";
@import "../blocks/popup/__container/popup__container.css";
@import "../blocks/popup/__close-button/popup__close-button.css";
@import "../blocks/popup/__form-container/popup__form-container.css";
@import "../blocks/popup/__heading/popup__heading.css";
@import "../blocks/popup/__form-text/popup__form-text.css";
@import "../blocks/popup/__form-text-error/popup__form-text-error.css";
@import "../blocks/popup/__form-text/_type/popup__form-text_type_error.css";
@import "../blocks/popup/__form-text-error/_visible/popup__form-text-error_visible.css";
@import "../blocks/popup/__form-btn/popup__form-btn.css";
@import "../blocks/popup/__form-btn/_disabled/popup__form-btn_disabled.css";
@import "../blocks/cards/cards.css";
@import "../blocks/card/card.css";
@import "../blocks/card/__image/card__image.css";
@import "../blocks/card/__delete/card__delete.css";
@import "../blocks/card/__heading/card__heading.css";
@import "../blocks/card/__like/card__like.css";
@import "../blocks/card/__container/card__container.css";
@import "../blocks/card/__like/_active/card__like_active.css";
@import "../blocks/popup/__container/_type/popup__container_type_full-image.css";
@import "../blocks/popup/__container/_type/popup__container_type_edit-profile.css";
@import "../blocks/popup/__container/_type/popup__container_type_add-card.css";
@import "../blocks/popup/_type/popup_type_full-image.css";
@import "../blocks/popup/__full-image/popup__full-image.css";
@import "../blocks/popup/__full-image-heading/popup__full-image-heading.css";
@import "../blocks/footer/__copyright/footer__copyright.css";
@import "../blocks/popup/_opened/popup_opened.css";