.card__like {
    background-image: url('../../../images/favorite-disabled.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 22px;
    width: 20px;
    height: 18px;
    cursor: pointer;
}

.card__like:hover {
    opacity: .5;
}

/* .card__like:focus {
    background-image: url('../../../images/favorite-active.svg');
}

.card__like:active {
    background-image: url('../../../images/favorite-active.svg');
    opacity: 1;
} */