.card__like {
    background-image: url('../../../images/favorite-disabled.svg');
    background-size: 22px 19px;
    background-position-x: right;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 20px;
    width: 22px;
    height: 19px;
    cursor: pointer;
}

.card__like:hover {
    opacity: .5;
}
